@font-face {
    font-family: 'WarioWare';
    src: url('../fonts/Wariowareinc-BWWdn.ttf') format('truetype');
}

* {
    font-family: "WarioWare";
}

/* Start element Styles */
html {
    background-color: #4c0d4e;
}

body {
    color: white;
}
/* END ELEMENT STYLES */

/* Start Item-Tracker Styles */
#item-tracker {
    float: left;
    background-color: #1f0b27;
    width: auto;
    height: auto;
    border-radius: 10px;
    margin: 10px;
}

#item-tracker div {
    text-align: center;
    margin: 0 20px 30px 20px;
}

#item-tracker p {
    margin: 10px;
    font-size: 40px;
    text-align: center;
}

#item-tracker div p {
    font-size: 30px;
}

.item {
    filter: grayscale(100%);
    margin: 5px 5px;
    cursor: pointer;
}

.item-name {
    height: 30px;
}
/* END ITEM-TRACKER STYLES */

/* Start Map Styles */
#map-tracker {
    margin: 10px;
    float: left;
    background-color: #1f0b27;
    padding: 30px;
    height: auto;
    width: 780px;
    border-radius: 10px;
}

#north {
    background-image: url("../images/maps/north.png");
}

#west {
    background-image: url("../images/maps/west.png");
}

#south {
    background-image: url("../images/maps/south.png");
}

#east {
    background-image: url("../images/maps/east.png");
}

/* NORTH NODES */
#level-0 {
    left: 40px;
    top: 80px;
}

#level-2 {
    left: 40px;
    top: 150px;
}

#level-3 {
    left: 175px;
    top: 90px;
}

#level-4 {
    left: 140px;
    top: 110px;
}

#level-5 {
    left: 195px;
    top: 120px;
}

#level-6 {
    left: 300px;
    top: 96px;
}

#the-temple {
    left: 115px;
    top: -64px;
}

/* WEST NODES */
#level-7 {
    left: 20px;
    top: 175px;
}

#level-8 {
    left: 110px;
    top: 90px;
}

#level-9 {
    left: 160px;
    top: 127px;
}

#level-10 {
    left: 275px;
    top: 60px;
}

#level-11 {
    left: 160px;
    top: 155px;
}

#level-12 {
    left: 160px;
    top: -90px;
}

/* SOUTH NODES */

#level-13 {
    left: 20px;
    top: 136px;
}

#level-14 {
    left: 95px;
    top: 112px;
}

#level-15 {
    left: 240px;
    top: 88px;
}

#level-16 {
    left: 175px;
    top: 120px;
}

#level-17 {
    left: 140px;
    top: -60px;
}

#level-18 {
    left: 315px;
    top: -100px;
}

/* EAST NODES */
#level-19 {
    left: 20px;
    top: 175px;
}

#level-20 {
    left: 195px;
    top: 210px;
}

#level-21 {
    left: 115px;
    top:  70px;
}

#level-22 {
    left: 195px;
    top: 80px;
}

#level-23 {
    left: 300px;
    top: 100px;
}

#level-24 {
    left: 115px;
    top: -100px;
}

#level-25 {
    left: 300px;
    top: -25px;
}

.map {
    float: left;
    height: 280px;
    width: 360px;
    background-size: cover;
    margin: 15px 15px;
}

.node {
    position: relative;
    height: 20px;
    width: 20px;
    border: 2px solid black;
    cursor: pointer;
}

.node-red {
    background-color: red;
}

.node-orange {
    background-color: rgb(255, 123, 0);
}

.node-green {
    background-color: rgb(0, 255, 34);
}

/* END MAP STYLES */

/*👉Start Node-Tooltip Styles👈*/

.tooltip .tooltiptext {
    float: left;
    visibility: hidden;
    width: 160px;
    background-color: rgb(66, 49, 80);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    border: 2px solid black;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.5);

    /* position tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltiptext p {
    text-align: center;
    font-size: 20px;
    margin: 2px;
}

.tooltiptext div {
    position: relative;
    float: left;
    border: 2px solid black;
    height: 8px;
    width: 8px;
    margin: 0 12px;
    left: 8px;
}

.available {
    background-color: rgb(0, 255, 34);
}

.unavailable {
    background-color: red;
}

/* tooltip arrow */
.tooltip .tooltiptext:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
/* END NODE-TOOLTIP STYLES */